@charset "UTF-8";
* {
  box-sizing: border-box;
}

/*----- reset -----*/
body, h1, h2, h3, h4, h5, p, ul, li, ol, dl, dt, dd, figure, input, textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

table {
  border-collapse: collapse;
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input,
textarea {
  width: 100%;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

/*----- common -----*/
body {
  font-family: "kozuka-gothic-pr6n", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  color: #211815;
}

.inner {
  margin: 0 auto;
  max-width: 1030px;
  width: 100%;
  padding: 0 15px;
}

/* 色 */
.text-wh {
  color: #fff;
}

.bg-sky {
  background-color: #c0e1f7;
}

.bg-blue {
  background-color: #294294;
}

.bg-wh {
  background-color: #fff;
}

/*----- flex -----*/
.flex {
  display: flex;
}
.flex.--fdr {
  flex-direction: row;
}
.flex.--wrap {
  flex-wrap: wrap;
}
.flex.--aic {
  align-items: center;
}
.flex.--jcsb {
  justify-content: space-between;
}
.flex.--jcc {
  justify-content: center;
}
.flex.--fdc {
  flex-direction: column;
}
.flex.--rev {
  flex-direction: column-reverse;
}

.pc-only {
  display: none;
}

@media (min-width: 768px) {
  body {
    font-size: 1rem;
  }
  .pc-only {
    display: block;
  }
  .sp-only {
    display: none;
  }
}
/* ボタン */
.btn {
  border-radius: 50px;
  line-height: 1;
  display: block;
  text-align: center;
  font-weight: 700;
}
.btn.--sp-regist {
  background-color: #fff;
  color: #294294;
  padding: 10px;
  font-size: 27px;
  width: 285px;
  margin-left: auto;
  margin-right: auto;
}
.btn.--pc-regist {
  background-color: #294294;
  color: #fff;
  padding: 14px;
  font-size: 16px;
  width: 160px;
}
.btn.--price-regist {
  background-color: #294294;
  color: #fff;
  padding: 14px;
  font-size: 30px;
  width: 100%;
  margin-top: 55px;
}
.btn.--footer-regist {
  font-size: 15px;
  background-color: #fff;
  color: #294294;
  width: 216px;
  margin-left: auto;
  margin-right: auto;
  padding: 11px;
  font-weight: 900;
}

/* セクションの見出し */
.sec-heading {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
}
.sec-heading--jp {
  font-size: 12px;
  display: block;
  margin-top: 12px;
}

@media (min-width: 768px) {
  /* ボタン */
  .btn.--pc-regist {
    background-color: #294294;
    color: #fff;
    padding: 14px;
    font-size: 16px;
    width: 160px;
  }
  .btn.--price-regist {
    padding: 22px;
    font-size: 30px;
    width: 100%;
    max-width: 433px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
  }
  .btn.--footer-regist {
    font-size: 30px;
    width: 433px;
    padding: 22px;
  }
  /* セクションの見出し */
  .sec-heading {
    font-size: 48px;
  }
  .sec-heading--jp {
    font-size: 24px;
    margin-top: 35px;
  }
}
/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
.header {
  padding: 18px 0;
}

/* ヘッダーロゴ */
.header-logo {
  width: 100px;
  margin: 0 auto;
}

.open,
.close {
  position: absolute;
  cursor: pointer;
}

.open {
  width: 36px;
  top: 23px;
  right: 20px;
}

.pc-nav-menu {
  display: none;
}

.btn.--pc-regist {
  display: none;
}

@media (min-width: 768px) {
  .open {
    display: none;
  }
  .header {
    padding-top: 28px;
    padding-bottom: 22px;
  }
  .header-wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  /* ヘッダーロゴ */
  .header-logo {
    width: 156px;
    margin: 0;
  }
  .pc-nav-menu {
    display: block;
  }
  .btn.--pc-regist {
    display: block;
  }
}
/* -------------------------------------------- */
/* nav */
/* -------------------------------------------- */
/* スマホ用ナビメニュー*/
.sp-nav-menu {
  background-color: #294294;
  font-size: 16px;
  color: #fff;
  position: fixed;
  top: 0;
  left: -200%;
  width: 100%;
  height: 100vh;
  transition: left 0.4s;
}

.sp-nav-menu.active {
  left: 0;
}

.sp-nav-wrap {
  padding-bottom: 28px;
  position: relative;
  width: 100%;
  height: 100%;
}

/* ロゴ */
.sp-nav-logo {
  width: 61px;
  padding-top: 25px;
  padding-bottom: 28px;
  margin: 0 auto;
}

.close {
  width: 35px;
  top: 30px;
  right: 27px;
}

/* navリスト共通 */
.nav-list {
  font-weight: 700;
}

/*----- sp用ナビ -----*/
.sp-nav-list {
  text-align: center;
  padding-left: 6px;
  padding-right: 6px;
}
.sp-nav-list__item {
  border-top: 0.5px solid #fff;
  padding: 12px;
  line-height: 1;
}
.sp-nav-list__item:last-child {
  border-bottom: 0.5px solid #fff;
}
.sp-nav-list__link {
  line-height: 1;
}

/* アイコン付きリンク */
.sp-nav-icon-list {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 28px;
  padding-bottom: 28px;
}
.sp-nav-icon-list__text {
  font-size: 12px;
  font-weight: 500;
  margin-top: 8px;
  letter-spacing: 0em;
}

.icon.--mail {
  padding-left: 45px;
  padding-right: 45px;
}

@media (min-width: 768px) {
  .sp-nav-menu {
    display: none;
  }
  /*------ pc用ナビ ----- */
  .pc-nav-list {
    font-size: 16px;
    display: flex;
    /* 英語のナビ */
    /* 日本語のナビ */
  }
  .pc-nav-list__item {
    text-align: center;
  }
  .pc-nav-list__item:not(:last-child) {
    margin-right: 1.0416666667vw;
  }
  .pc-nav-list__link {
    display: block;
  }
  .pc-nav-list__link.--en {
    text-transform: uppercase;
    display: block;
    line-height: 1;
    letter-spacing: 0;
  }
  .pc-nav-list__link.--jp {
    font-size: 12px;
    line-height: 1;
    letter-spacing: normal;
    margin-top: 8px;
  }
}
/* -------------------------------------------- */
/* mv */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* campaign */
/* -------------------------------------------- */
.campaign-wrap {
  padding-top: 40px;
  padding-bottom: 42px;
}

.campaign__image-wrap {
  margin-top: 50px;
}
.campaign__image {
  width: 100%;
}
.campaign__image.--first {
  margin-top: 8px;
}
.campaign__desc {
  color: #294294;
  font-size: 10px;
  transform: scale(0.9);
  text-align: center;
  font-weight: 300;
  line-height: 2;
}

@media (min-width: 768px) {
  .campaign-wrap {
    padding-top: 110px;
    padding-bottom: 130px;
  }
  .campaign__image-wrap {
    margin-top: 80px;
  }
  .campaign__image.--first {
    margin-top: 20px;
  }
  .campaign__desc {
    font-size: 18px;
    transform: scale(1);
  }
}
/* -------------------------------------------- */
/* price */
/* -------------------------------------------- */
.price-wrap {
  padding-top: 50px;
  padding-bottom: 45px;
}

/* 赤タイトル */
.price-sub-heading {
  margin-top: 28px;
  display: block;
}

/* 料金表とチケットとスケジュール表 */
.price-table-image-first {
  margin-top: 38px;
}

/* プラン表 */
.price-table-image-second {
  margin-top: 12px;
}

@media (min-width: 768px) {
  .price-wrap {
    padding-top: 100px;
    padding-bottom: 126px;
  }
  /* 赤タイトル */
  .price-sub-heading {
    margin-top: 70px;
  }
  .price-table-pc-image {
    width: 100%;
    margin-top: 64px;
  }
}
/* -------------------------------------------- */
/* area */
/* -------------------------------------------- */
.area-wrap {
  padding-top: 28px;
  padding-bottom: 42px;
}

.area-image-cont {
  max-width: 84vw;
  margin: -1.3333333333vw auto 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.area-image-01 {
  width: 100%;
  margin-top: 34px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 18px;
  padding-right: 18px;
}

.area-image-02 {
  margin-right: 30px;
  width: 114px;
  width: 36.1904761905vw;
}

.area-image-03 {
  width: 170px;
  width: 53.9682539683vw;
}

@media (min-width: 768px) {
  .area-wrap {
    padding-top: 110px;
    padding-bottom: 94px;
  }
  .area-image-cont {
    max-width: 1030px;
    padding-left: 15px;
    padding-right: 15px;
    margin: -3.6458333333vw auto 0;
  }
  .area-image-01 {
    max-width: 1000px;
    margin-top: 150px;
  }
  .area-image-02 {
    margin-right: auto;
    margin-left: 70px;
    width: 228px;
  }
  .area-image-03 {
    width: 340px;
  }
}
/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */
/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */
/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* footer */
/* -------------------------------------------- */
.footer-wrap {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 54px;
  max-width: 220px;
  margin: 0 auto;
}

.footer-logo {
  width: 80px;
  margin: 0 auto;
}

/* 電話番号 */
.footer-phone__wrap {
  margin-top: 34px;
  margin-bottom: 27px;
}
.footer-phone__heading {
  font-size: 13px;
  font-weight: 700;
}
.footer-phone__icon {
  width: 21px;
  display: inline-block;
  margin-right: 6px;
}
.footer-phone__body {
  font-size: 24px;
  font-weight: 700;
}
.footer-phone__small {
  font-size: 11px;
  display: block;
  font-weight: 500;
}

/* snsリスト */
.footer-sns-list {
  margin-top: 35px;
}

/* ボタンしたの注釈 */
.footer-tokutei {
  font-size: 10px;
  transform: scale(0.8);
  margin-top: 8px;
}

/* ロゴ */
.footer-group-company {
  margin-top: 42px;
}

@media (min-width: 768px) {
  .footer-wrap {
    padding-top: 100px;
    padding-bottom: 80px;
    max-width: 430px;
  }
  .footer-logo {
    width: 160px;
  }
  /* 電話番号 */
  .footer-phone__wrap {
    margin-top: 67px;
    margin-bottom: 52px;
  }
  .footer-phone__heading {
    font-size: 26px;
  }
  .footer-phone__icon {
    width: 43px;
    margin-right: 12px;
  }
  .footer-phone__body {
    font-size: 48px;
  }
  .footer-phone__small {
    font-size: 20px;
  }
  /* snsリスト */
  .footer-sns-list {
    margin-top: 70px;
  }
  /* ボタンしたの注釈 */
  .footer-tokutei {
    font-size: 16px;
    transform: scale(1);
    margin-top: 16px;
  }
  /* ロゴ */
  .footer-group-company {
    margin-top: 84px;
  }
}
/* Hover Event *//*# sourceMappingURL=styles.css.map */